# Neon PostgreSQL Database Connection URL (Set this in Vercel Backend Project -> Settings -> Environment Variables)
DATABASE_URL="postgresql://neondb_owner:npg_yRKaHcni5mu9@ep-super-fire-axa0qmum-pooler.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
